<a href="https://colab.research.google.com/github/poonamkhot123/DSA-Practice-with-youtube_college-wallah/blob/main/DSA_Lecture_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LIST TUPLE AND STRING

In [ ]:
# list
names = ["aman","ravi","rahul","yash"]
print(names)

['aman', 'ravi', 'rahul', 'yash']

In [ ]:
list1 =[5,"hello",34,35,True]
print(list1)

[5, 'hello', 34, 35, True]

In [ ]:
list1 =[4,2,5,6,7,8]
list1.append(4)
print(list1)

[4, 2, 5, 6, 7, 8, 4]

In [ ]:
list1=[4,5,6,7,3,4]
# list1.append(2)
list1.extend([1,2,3])
print(list1)

[4, 5, 6, 7, 3, 4, 1, 2, 3]

In [ ]:
#insert = to insert any element at specific position and also given the specific number.
list1=[32,45,5,65,67]
list1.insert(3,100)
print(list1)

[32, 45, 5, 100, 65, 67]

In [ ]:
#remove= it will remove the specific element.
list1=[32,6,2,43,35,12]
list1.remove(43)
print(list1)

[32, 6, 2, 35, 12]

In [ ]:
#pop= it will pop the specific index value.
list1=[34,45,56,67,76]
list1.pop(2)
print(list1)

[34, 45, 67, 76]

In [ ]:
#clear()= it uses to clear the all the list.
list1=[56,56,67,78]
list1.clear()
print(list1)

[]

In [ ]:
#min= to find the minimum element
list1 = [32,6,2,42,35,12]
print(min(list1))

2

In [ ]:
#max= to find the maximum of the element
list2 = [32,6,2,42,35,12]
print(min(list2))

2

In [ ]:
#count= to print how many times that number occurs in the list
list1=[34,54,56,34,54,2,4,7,34,34]
print(list1.count(54))
print(list1.count(34))

2
4

In [ ]:
#sort = it will be sort the list in the incresing order.
list1 = [4,5,6,7,1,3,5,6,72,4]
list1.sort()
print(list1)

[1, 3, 4, 4, 5, 5, 6, 6, 7, 72]

In [ ]:
#reverse= it will be the reverse the entire list.
list1 = [4,5,6,7,8,34,2,56]
list1.reverse()
print(list1)

[56, 2, 34, 8, 7, 6, 5, 4]

In [ ]:
#index= it will return the particular index of any element.
list1=[34,45,6,72,67,45]
print(list1.index(45))

1

In [ ]:
#copy= it will copy the whole list
list1= [34,45,5,6,3,56,67]
print(list1.copy())

[34, 45, 5, 6, 3, 56, 67]

In [ ]:
#slicing= it will be slice the list
list= [3,4,56,7,87,34,98,23,56]
print(list[2:6])
print(list[2:8:3])

[56, 7, 87, 34]
[56, 34]

# **TUPLE** :
A tuple is a collection similar to a python list.the primary difference is that we cannot modify a tuple once it is created.


*   **oderded** - the maintain the order of elements.
*   **immutable** - they cannot be changed after creation.
*   **allow duplicates** - they can contain duplicate values.

In [ ]:
tuple1 = ("hello",123,23.232,True,324.423)
print(tuple1)
print(tuple1[3])
print(tuple1[-5])
print(len(tuple1))
print(type(tuple1))

('hello', 123, 23.232, True, 324.423)
True
hello
5
<class 'tuple'>

In [ ]:
# operations cannot do in the tuple these are:
# append()
# extend()
# insert()
# remove()
# pop()
# sort()
# reverse()

In [ ]:
tuple1 = (3,4,456,312,234,456,42,23,456)
print(tuple1[2:4])
print(tuple1.count(456))
print(tuple1.index(456))

(456, 312)
3
2

In [ ]:
# type casting = we can convert the tuple into the list.
tuple1 = (3,4,456,312,234,456,42,23)
new_list1 = list(tuple1)
print(new_list1)

[3, 4, 456, 312, 234, 456, 42, 23]

# **STRINGS IN PYTHON**
in python,a string is a sequence ofcharacters. for example,"hello" is a string containing a sequence of characters 'h','e','l','l','o'.

* we use single quotes or double quotes to represent string in python.

In [ ]:
name = "poonam"
grade = "A"
introduction = """my name is poonam
i live in pune"""
print(type(name))

<class 'str'>

In [ ]:
name = "physics wallah skills,"
print(len(name))
name += "in pune"
print(name)
print(name[4])
print(name[-2])

print(name.capitalize())
print(name.lower())
print(name.upper())

22
physics wallah skills,in pune
i
n
Physics wallah skills,in pune
physics wallah skills,in pune
PHYSICS WALLAH SKILLS,IN PUNE

In [ ]:
# replace = it uses to replace any value or character.
name = "my name is poonam."
print(name.replace("i","y"))

my name ys poonam.

In [ ]:
#count = we can count the any character , how many times occurs.
name = "my name is poonam . and i wantwed to know what are you doing."
print(name.count("a"))

6

In [ ]:
# if we want to update the original string then do this.
name = "My name is Poonam ,and I live in Barmati"
name = name.lower()
print(name)

my name is poonam ,and i live in barmati

In [ ]:
# stratswith = it checks the string started with any specific character.
s = "hello world"
print(s.replace("hello","hii"))
print(s.startswith("hello"))
print(s.startswith("hii"))
print(s.endswith("hello"))
print(s.endswith("world"))
print(s.index("o"))
print(s.index("lo w"))
list1 = list(s)
print(list1)

hii world
True
False
False
True
4
3
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
#strip = it will reomve the unwanted space from stating and end.
s = "      poonam khot   "
s.strip()
print(s)

      poonam khot

In [ ]:
# we can remove the specific value from thevsplit function.
s = "--------pw skills----------"
s = s.strip("-")
print(s)

pw skills

In [ ]:
# split = is is use for slippting the string and it converted into the list.
s = "hello my name is abhinav"
print(list(s))
print(s.split(" "))

['h', 'e', 'l', 'l', 'o', ' ', 'm', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'a', 'b', 'h', 'i', 'n', 'a', 'v']
['hello', 'my', 'name', 'is', 'abhinav']

In [ ]:
list1 = ['p','o','o','n','a','m']
s="".join(list1)
print(s)

poonam

In [ ]:
list1 = ['p','o','o','n','a','m']
s="*".join(list1)
print(s)

p*o*o*n*a*m

In [ ]:
list1 = ['hello','my','name','is','poonam']
print("".join(list1))

hellomynameispoonam

In [ ]:
list1 = ['hello','my','name','is','poonam']
print(" ".join(list1))

hello my name is poonam

In [ ]:
# \n it gives us new line
s = "hello\npoonam"
print(s)

hello
poonam

In [ ]:
#ord function : it means character have the asci value.means the roll no. of character.
print(ord('z'))
print(ord('a'))
print(ord('p'))
print(ord('#'))

122
97
112
35

**Running Sum of 1d Array**
* Given an array.We define a running sum of an array as runningSum[i] = sum(num[0]
....num[i]).
return the running sum of nums.

In [ ]:
def running_sum(nums):
  n = len(nums)
  ans = []
  ans.append(nums[0])
  for i in range(1,n):  # here started from 1 becuase 0 index aldredy append in ans
    x= ans[i-1] + nums[i]  # ans[i-1] means last index + current index
    ans.append(x)   # it appends in the ans with variable x.
  return ans        # The return statement is now inside the function

# Example usage:
my_list = [2, 4, 6, 8, 9, 3]
result = running_sum(my_list)
print(result)

[2, 6, 12, 20, 29, 32]

In [ ]:
def running_sum(nums):
  n = len(nums)
  ans = []
  ans.append(nums[0])
  for i in range(1,n):
    x =ans[i-1] + nums[i]
    ans.append(x)
  return ans

my_list = [4,5,6,7,8]
result = running_sum(my_list)
print(result)

[4, 9, 15, 22, 30]

In [ ]:
def running_sum(nums):
  n = len(nums)
  ans = []
  ans.append(nums[0])
  for i in range(1,n):
    x = ans[i-1] + nums[i]
    ans.append(x)
  return ans

my_list = [4,5,7,8,9]
result = running_sum(my_list)
print(result)

[4, 9, 16, 24, 33]

In [ ]:
def running_sum(nums):
  n = len(nums)
  ans = []
  ans.append(nums[0])
  for i in range(1,n):
    x = ans[i-1]+nums[i]
    ans.append(x)
  return ans

my_list = [3,4,5,6,7,8]
result = running_sum(my_list)
print(result)

[3, 7, 12, 18, 25, 33]

In [ ]:
# remove duplicates from sorted array
# logic:firstly take all unique values at inital level
def removeDuplicates(nums):
  n = len(nums)
  start = 0
  for i in range(1,n):
    # unique element
    if nums[i]!=nums[start]:
       start+=1
       nums[start] = nums[i]
  return start+1

# example:
my_list =[1,2,2,3,3,4,5,6,7,9,9]
result = removeDuplicates(my_list)
print(my_list[:result])

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
def removeDuplicates(nums):
  n = len(nums)
  start = 0
  for i in range(1,n):
    #unique element
    if nums[i]!=nums[start]:
      start+=1
      nums[start] = nums[i]
  return start+1
my_list = [1,2,2,3,3,4,5,6,7,9,9]
result = removeDuplicates(my_list)
print(my_list[:result])

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
def removeDuplicates(nums):
  n = len(nums)
  start = 0
  for i in range(1,n):
    # unique element
    if nums[i]!=nums[start]:
      start+=1
      nums[start]=nums[i]
  return start+1
my_list = [1,2,2,3,3,4,5,6,7,9,9]
result = removeDuplicates(my_list)
print(my_list[:result])

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
def removeDuplicates(nums):
  n = len(nums)
  start = 0
  for i in range(1,n):
    # unique element
    if nums[i]!=nums[start]:
      start+=1
    nums[start]= nums[i]
  return start+1
my_list = [1,2,2,3,4,5,6,6,7,7,8,8]
result = removeDuplicates(my_list)
print(my_list[:result])

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
def removeDuplicates(nums):
  n = len(nums)
  start= 0
  for i in range(1,n):
    # unique element
    if nums[i]!=nums[start]:
      start+=1
    nums[start]= nums[i]
  return start+1
my_list = [1,2,2,3,4,5,6,6,7,7,8,8]
result = removeDuplicates(my_list)
print(my_list[:result])

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
def removeDuplicates(nums):
  n = len(nums)
  start = 0
  for i in range(1,n):
    # unique element
    if nums[i]!=nums[start]:
      start+=1
    nums[start]=nums[i]
  return start+1

my_list = [1,2,2,3,4,5,6,6,6,7,7,8,8]
result = removeDuplicates(my_list)
print(my_list[:result])

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
def removeDuplicates(nums):
  n= len(nums)
  start= 0
  for i in range(1,n):
    # unique element
    if nums[i]!=nums[start]:
      start+=1
    nums[start]=nums[i]
  return start+1

my_list = [1,2,2,3,4,5,6,6,6,7,7,8,8]
result = removeDuplicates(my_list)
print(my_list[:result])

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Sort Array By Parity
# given an integer array nums,move all the even integers at the
# beginning of the array followed by all the odd integers.
def arrays(nums):
  n= len(nums)
  start = 0
  for i in range(n):
    if nums[i]%2==0:
      temp=nums[i]
      nums[i]=nums[start]
      nums[start]=temp
      start+=1
  return nums

my_list=[2,3,3,4,5,6,6,7,7,8,8,9]
result = arrays(my_list)
print(result)

[2, 4, 6, 6, 8, 8, 3, 7, 7, 5, 3, 9]

In [ ]:
def arrays(nums):
  n = len(nums)
  start = 0
  for i in range(n):
    if nums[i]%2==0:
      temp = nums[i]
      nums[i]=nums[start]
      nums[start] = temp
      start+=1
  return nums
my_list = [3,4,5,6,7,8,9]
result = arrays(my_list)
print(result)

[4, 6, 8, 3, 7, 5, 9]

In [ ]:
def arrays(nums):
  n = len(nums)
  start = 0
  for i in range(n):
    if nums[i]%2==0:
      temp=nums[i]
      nums[i]=nums[start]
      nums[start]=temp
      start+=1
  return nums
my_list = [2,4,5,6,7,8,9]
result = arrays(my_list)
print(my_list)

[2, 4, 6, 8, 7, 5, 9]

In [ ]:
def arrays(nums):
  n = len(nums)
  start = 0
  for i in range(n):
    if nums[i]%2==0:
      temp=nums[i]
      nums[i]=nums[start]
      nums[start]=temp
      start+=1
  return nums
my_list = [3,4,5,6,7,8,9]
result = arrays(my_list)
print(my_list)

[4, 6, 8, 3, 7, 5, 9]

In [ ]:
# kadanis Algorithm
# given we have an array
# give me subarray which have maximun sum.

def arrays(nums):
  curr_sum= 0
  max_sum = nums[0]
  for i in range(len(nums)):
    curr_sum += nums[i]
    if curr_sum > max_sum:
      max_sum = curr_sum
    if curr_sum<0:
      curr_sum = 0
  return max_sum

my_list = [-4,-5,7,8,3,-9,1,5]
result = arrays(my_list)
print(result)

In [ ]:
def arrays(nums):
  curr_sum = 0
  max_sum = nums[0]
  for i in range(len(nums)):
    curr_sum += nums[i]
    if curr_sum > max_sum:
      max_sum = curr_sum
    if curr_sum <0:
      curr_sum = 0
  return max_sum
my_list = [3,4,5,-6,7,8,9,-1]
result = arrays(my_list)
print(result)

In [ ]:
def arrays(nums):
  curr_sum = 0
  max_sum = nums[0]
  for i in range(len(nums)):
    curr_sum +=nums[i]
    if curr_sum > max_sum:
      max_sum = curr_sum
    if curr_sum <0:
      curr_sum = 0
  return max_sum
my_list = [2,3,4,5,6,7]
result = arrays(my_list)
print(result)

In [ ]:
# best time to buy sell stock.
def maxProfit(prices):
  min_price = prices[0]
  profit =0
  for i in range(1,len(prices)):
    curr_profit = prices[i]-min_price
    if curr_profit>profit:
      profit = curr_profit
    min_price = min(min_price,prices[i])
  return profit
my_list = [7,1,5,3,6,4]
result=maxProfit(my_list)
print(result)

In [ ]:
# Richest customer waelth
# you are given an m*n integer grid accounts[i]
# [j] is the amount of money the ith customer has in the jth bank.
# Return the waelth that the richest customer has.
# A customers wealth is the amount of money they have in all their bank accounts,
# the richest customer is the customer that has the maximum wealth.
def maximumWealth(accounts):
  ans=0
  for account in accounts:
    ans = max(ans,sum(account))
  return ans
my_list = [[2,3,4],[5,6,7],[8]]
result = maximumWealth(my_list)
print(result)

18

In [1]:
# add the matrix in spiral way.
def spiral_matrix(matrix):
  n = len(matrix)        # length of row
  m = len(matrix[0])     # length of column

  total = n * m
  ans = []
  c =0

  colstart = 0
  rowstart = 0
  colend = n-1
  rowend = n-1

  while c<total:
    # rowstart,colstart->colend
    for i in range(colstart , colend+1):
      ans.append(matrix[rowstart][i])
      c+=1
    rowstart+=1

    if c==total:
      break

     # colend,rowstart->rowend
    for i in range(rowstart,rowend+1):
        ans.append(matrix[i][colend])
        c+=1
    colend -=1

    if c== total:
      break

    # rowend,colend->colstart
    for  i in range(colend,colstart-1,-1):
      ans.append(matrix[rowend][i])
      c+=1
    rowend-=1

    if c==total:
      break

    # colstart,rowend->rowstart
    for i in range(rowend,rowstart-1,-1):
      ans.append(matrix[rowend][i])
      c+=1
    colstart+=1

  return ans

In [3]:
# Defanging an IP address.
# given a valid IP address,return a defanged version of that IP  adresss
# A defanged address replaces every period "." with "[.]"
# eg:
# input:address="1.1.1.1"
# output:"1[.]1[.]1[.]1"
def ipaddress(address):
  ans = ""
  for i in address:
    if i != ".":
      ans+=i
    else:
      ans+="[.]"
  return ans

string="1.1.1.1"
result = ipaddress(string)
print(result)

1[.]1[.]1[.]1

In [6]:
def ipaddress(address):
  ans = " "
  for i in address:
    if i != ".":
      ans+=i
    else:
      ans+="[.]"
  return ans
string = "1.1.1.1"
result = ipaddress(string)
print(result)

 1[.]1[.]1[.]1

In [ ]:
# palindrome string
def ispalindrome(s):
  s = s.lower()
  i= 0
  j = len(s)-1
  while i<j:
    if s[i]==s[j]:
       i+=1
       j-=1
    else:
       return False

In [8]:
# reverse the words in string.
def reversewords(s):
  s= s.strip()  # to remove the extra space.
  s= s.split()  # for splitting the words
  s.reverse()
  return "".join(s)
string = "my name is poonam khot"
result = reversewords(string)
print(result)

khotpoonamisnamemy

In [ ]:
# Reverse a string
s = "I am poonam khot...."
r = s[::-1]
print(r)

In [12]:
# length of the last word
# given a string s consisting of words and spaces,
# return the length of the last word in the string.
# A word is a maximal substring consisting of non-space characters only.
# input:s="Hello World"
# output:5
# Explanation: the last word is "world" with length 5.
def lengthoflastword(s):
  s=s.strip()
  n= len(s)
  i=-1
  while i>=(-1*n) and s[i]!="":
    i-=1
  i+=1
  i*=-1
  return i
string = "poonam khot my name"
result = lengthoflastword(string)
print(result)

19