<a href="https://colab.research.google.com/github/poonamkhot123/DSA-Practice-with-youtube_college-wallah/blob/main/DSA_lecture_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

sets and Dcitionary

# **Sets**
A set is a collection of unique data, meaning that elements within a set cannot be duplicated.

In [ ]:
set1 = {2,4,"hello",2,"abhinav","hello",2,4}
print(set1)
print(type(set1))
print(len(set1))

{2, 4, 'hello', 'abhinav'}
<class 'set'>
4

In [ ]:
# count the number of unique element in the list.
list1 = [3,4,5,6,7,6,45,7,7,8,96,7,7]
set1 = set(list1)
print(len(set1))
print(set1)

8
{96, 3, 4, 5, 6, 7, 8, 45}

In [40]:
my_set = {'hello',2,4,"abhinav"}
set1.add(100)
set1.add("poonam")
print(set1)

{2, 3, 100, 4, 5, 'poonam'}

In [ ]:
# discard= it removes the particular element.
# it will never gives us error if the element not present in the set.
set1={"hello",2,4,"abhinav"}
set1.discard("hello")
print(set1)

{2, 4, 'abhinav'}

In [ ]:
# remove = it will be remove the element,
# but it will show the error if the element not present in the set.
set1={"hello",2,4,"abhinav"}
set1.remove("hii")
print(set1)

{2, 4, 'hello', 'abhinav'}

In [ ]:
set1 = {'hello',2,4,'abhinav'}
if 'hii' in set1:
  print(True)
else:
  print(False)

False

In [ ]:
# union = |
set1 = {1,8,5,2,4}
set2 = {8,2,9,6}
print(set1 | set2)
print(set1.union(set2)) #inbult method

{1, 2, 4, 5, 6, 8, 9}
{1, 2, 4, 5, 6, 8, 9}

In [ ]:
# intersection &
set1 = {2,3,4,5}
set2 = {4,5,6,7}
print(set1 & set2)
print(set1.intersection(set2))

{4, 5}
{4, 5}

In [ ]:
# difference
print(set2-set1)
print(set1.difference(set2))

{6, 7}
{2, 3}

In [ ]:
# symmetric difference  : not common number between both
print(set2^set1)
print(set2.symmetric_difference(set1))

{2, 3, 6, 7}
{2, 3, 6, 7}

# **Dictionaries**(map or hashmap)
A python dictionary is a collection of items,similar to lists and tuples.However , unlike lists and tuples,each item in a dictionary is a key-value pair.(consisting of a key and a value.)


*   key --> unique
*   key --> non mutable(can't be list)

In [ ]:
x = { }
print(type(x))

In [ ]:
dict1 = {1:"abhinav","hello":100,10.21:"hii","key":True}
print(dict1)
print(type(dict1))
print(len(dict1))

In [17]:
# updating
dict1 ={1:"poonam",2:"aman",3:"rahul",4:"yash"}
dict1[5] ="mahesh"
dict1[2] = "abhi"
dict1.update({1:"abhishek",10:"yuvraj"})
print(dict1)

{1: 'abhishek', 2: 'abhi', 3: 'rahul', 4: 'yash', 5: 'mahesh', 10: 'yuvraj'}

In [18]:
# creating a dictionary by using a dict function
dict1 = dict(abhishek=1,aman=2)
print(dict1)

{'abhishek': 1, 'aman': 2}

In [19]:
# removing the element from the dictionary
dict1 ={1:"poonam",2:"aman",3:"rahul",4:"yash"}
dict1.pop(2)
del dict1[1]
print(dict1)

{3: 'rahul', 4: 'yash'}

*  .items() = for iterating in a     dictionary it will return list of tuple.
*  .keys() = it will return the keys.
*  .values() = it will return the values.

In [20]:
dict1 ={1:"poonam",2:"aman",3:"rahul",4:"yash"}
for key,value in dict1.items():
  print(key,value)

1 poonam
2 aman
3 rahul
4 yash

In [21]:
print(dict1.keys())
for key in dict1.keys():
  print(key)

dict_keys([1, 2, 3, 4])
1
2
3
4

In [23]:
print(dict1.values())
for value in dict1.values():
  print(value)

dict_values(['poonam', 'aman', 'rahul', 'yash'])
poonam
aman
rahul
yash

In [25]:
# how many times the element comes in the dictionary
list1 = ["poonam","sahil","abhinav","mahesh","yash","mahesh","aman","yash","poonam"]
freq = {}
for name in list1:
  if name not in freq:
    freq[name] = 1
  else:
    freq[name] +=1
print(freq)

{'poonam': 2, 'sahil': 1, 'abhinav': 1, 'mahesh': 2, 'yash': 2, 'aman': 1}

In [ ]:
# how many times characters in a string is comming.
s = 'physics wallah skills.'
freq = {}
for name in s:
  if name not in freq:
    freq[name] = 1
  else:
    freq[name] +=1
  print(freq)

# Hashing
Hashing is a technique used in data strctures that efficiently stores and retrives data in a way that allows for quick access.

**Two sum**
given an array of integers nums and an integer target,return indices of the two numbers such that they add up to target.
you may assume that each input would have exactly one solution,and you may not use the same element twice.
*  eg: input:nums= [2,7,11,15] ,target =9
output :[0,1]
Explanation: becuase nums[0]+nums[1] ==9,we return [0,1].

In [32]:
def twoSum(nums,target):
  n = len(nums)
  dict1 = {}
  for i in range(n):
    rem = target - nums[i]
    if rem in dict1:
      return [dict1[rem],i]
    dict1[nums[i]] = i
my_list= [3,4,5,6,7,8]
target = 14 # Define target
result = twoSum(my_list, target)
print(result)

[3, 5]

In [36]:
#Two sum : input array is sorted.
def twoSum(nums, target): # Removed 'self' and added 'target'
    left = 0
    right = len(nums)-1
    while left<right:
        sum1 = nums[left]+nums[right]
        if sum1 == target:
            return [left+1,right+1]
        elif sum1>target:
            right-=1
        else:
            left+=1
my_list= [3,4,5,6,7,8]
target = 14 # Define target
result = twoSum(my_list, target) # Pass target to the function
print(result)

[4, 6]

# **intersection of two arrays**
given two integers nums1 and nums2,return an array of their intersection.Each element in the resuly must be unique and you may return,the result in any order.
* input: nums1 = [4,9,5]
*        nums2 = [2,2]
*  output: [2]

In [1]:
def intersection(nums1,nums2):
  set1=set(nums1)
  set2=set(nums2)
  return list(set1.intersection(set2))

In [6]:
# first unique character in a string
# given a string s,find the first non-repeating character in it and returns its index.
# if it does not exist,return -1.
def firstuniqchar(s): # Changed str to s to match the loop variable below
  freq = {}
  for i in s: # Changed 'i not in s' to 'i in s' and removed the 'not'
    if i not in freq:
        freq[i] = 1
    else:
      freq[i] +=1
  for i in range(len(s)): # Corrected indentation
    if freq[s[i]]==1: # Corrected indentation
      return i # Corrected indentation
  return -1 # Corrected indentation
my_list = "poonam khot"
result = firstuniqchar(my_list)
print(result)

0

In [11]:
# anagram string
def sort_string(s):
  # Sorts the characters of a string and returns the sorted string
  return "".join(sorted(s))

def groupAnagram(strs):
  # Groups anagrams from a list of strings
  anagram_map = {}
  for s in strs:
    key = sort_string(s)
    if key in anagram_map:
      anagram_map[key].append(s)
    else:
      anagram_map[key] = [s]
  return list(anagram_map.values())

my_list = ["eat", "tea", "tan", "ate", "nat", "bat"] # Example list of strings
result = groupAnagram(my_list)
print(result)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]