<a href="https://colab.research.google.com/github/poonamkhot123/DSA-Practice-with-youtube_college-wallah/blob/main/revision_list%2Ctuple_and_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
names = ['aman','ravi','rahul','yash']
print(names)

['aman', 'ravi', 'rahul', 'yash']

In [ ]:
print(type(names))

<class 'list'>

In [ ]:
print(len(names))

4

In [ ]:
print(names[0])

aman

In [ ]:
print(names[2])

rahul

In [ ]:
list1 = [5,'poonam',34.45,True]
print(list1)

[5, 'poonam', 34.45, True]

In [ ]:
list1 = [3,4,5,6,7,8]
list1.append(9)
print(list1)

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1.append([1,2,3])
print(list1)

[3, 4, 5, 6, 7, 8, 9, [1, 2, 3]]

In [ ]:
list1.extend([1,2,3])

In [ ]:
list1 = [3,2,3,45,65,6,7,89]
list1.insert(3,100)
print(list1)

[3, 2, 3, 100, 45, 65, 6, 7, 89]

In [ ]:
print(min(list1))
print(max(list1))

2
100

In [ ]:
list1 = [4,3,4,5,6,7,8,9,3,4,1,1]
print(list1.count(1))
print(list1.count(3))

2
2

In [ ]:
list1.sort()
print(list1)

[1, 1, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9]

In [ ]:
list1.reverse()
print(list1)

[9, 8, 7, 6, 5, 4, 4, 4, 3, 3, 1, 1]

In [ ]:
list1  = [1,5,6,4,3,4,3,4,5,2]
print(list1.index(2))
print(list1.index(5))

9
1

In [ ]:
list1 = [1,2,3]
list2 = list1
list2.append(4)

print(list1)
print(list2)

# **Tuple**

In [ ]:
tuple1 = ("hello",123.23,34,34,4,5,6)
print(tuple1)
print(tuple1[3])
print(tuple1[-5])

('hello', 123.23, 34, 34, 4, 5, 6)
34
34

In [ ]:
print(len(tuple1))
print(type(tuple1))

7
<class 'tuple'>

In [ ]:
# operations not happend in tuple.

# append()
# extend()
# insert()
# remove()
# pop()
# sort()
# reverse()
# copy()
# clear()

In [ ]:
tuple1 = (3,4,5,6,7,77,678,345,45,6,66)
print(tuple1[2:4])
print(tuple1.count(6))

(5, 6)
2

In [ ]:
name = 'poonam'
grade = 'A'
company = 'PW skills'
introduction = """My name is Abinav
i live in banglore
i love coding"""

print(name,type(name))

poonam <class 'str'>

In [ ]:
name = "physics wallah"
name += "skilss"
print(name[4])
print(len(name))

i
20

In [ ]:
name = "physics wallah skills"
print(name[4])
print(name[-2])
print(len(name))

print(name.lower())
print(name.upper())
print(name.capitalize())

i
l
21
physics wallah skills
PHYSICS WALLAH SKILLS
Physics wallah skills

In [ ]:
print(name.replace("i","y"))

physycs wallah skylls

In [ ]:
print(name.count("y"))

1

In [ ]:
s = "hello world"

print(s[2:5])
print(s.replace("hello","hii"))
print(s.startswith("hello"))
print(s.startswith("hii"))
print(s.endswith("world"))
print(s.index("o"))
print(s.index("lo w"))

llo
hii world
True
False
True
4
3

In [ ]:
list = ['p','o','o','n','a','m']
s = "".join(list)
print(s)

poonam

In [ ]:
list = ['p','o','o','n','a','m']
s = " hello ".join(list)
print(s)

p hello o hello o hello n hello a hello m

In [46]:
# Runnig sum of 1D array
def runningSum(nums):
  n = len(nums)

  ans = []
  ans.append(nums[0])

  for i in range(1,n):
    x = ans[i-1]+nums[i]
    ans.append(x)

  return ans

list = [1,2,3,4,5,6,9]
s = runningSum(list)
print(s)

[1, 3, 6, 10, 15, 21, 30]

In [50]:
# Remove duplicates from sorted array
def removeDuplicates(nums):
  n = len(nums)

  start = 0
  for i in range(1,n):
    if nums[i]!=nums[start]:
     start +=1
     nums[start] = nums[i]

  return start +1

In [52]:
# Remove duplicates from sorted array-II
def removeDuplicates(nums):
  n = len(nums)

  if n <=2:
    return n

  start = 1
  for i in range(2,n):
    if nums[i]!=nums[start -1]:
      start+=1
      nums[start] = nums[i]
  return start+1

In [53]:
# sort array by parity.
def sortArrayParity(nums):
  n = len(nums)

  start = 0
  for i in range(n):
    if nums[i]%2==0:
      # swapping
      temp = nums[i]
      nums[i] = nums[start]
      nums[start] = temp
      start+=1
  return nums

In [54]:
# kadanis algorithm
def maxSubArray(nums):
  curr_sum = 0
  max_sum = nums[0]

  for i in range(len(nums)):
    curr_sum +=nums[i]
    if curr_sum>max_sum:
      max_sum = curr_sum
    if curr_sum < 0:
      curr_sum = 0

  return max_sum

In [55]:
# Best time to sell ans buy the stock.
def maxProfit(prices):
  min_price = prices[0]
  profit = 0

  for i in range(1,len(prices)):
    curr_profit = prices[i] - min_price
    if curr_profit >profit:
      profit = curr_profit
    min_price = min(min_price,prices[i])
  return profit

In [56]:
# Best time to sell ans buy the stock- II.
def maxProfit(prices):
  profit = 0
  n = len(prices)

  for i in range(n-1):
    if prices[i+1]>prices[i]:
      profit += (prices[i+1]-prices[i])

    return profit

In [58]:
# Richest Customer Wealth
def maximumWealth(accounts):
  ans = 0
  for account in accounts:
    ans = max(ans,sum(account))
  return ans

In [60]:
# Spiral Matrix
def spiralOrder(matrix):
    n = len(matrix)
    m = len(matrix[0])

    total = n*m
    ans = []
    c = 0

    colstart = 0
    rowstart = 0
    colend = n-1
    rowend = n-1

    while c <total:
        for i in range(colstart,colend+1):
            ans.append(matrix[rowstart[i]])
            c+=1
        rowstart+=1


        if c == total:
            break

        for i in range(rowstart,rowend+1):
            ans.append(matrix[i][colend])
            c+=1
        colend-=1

        if c == total:
            break

        for i in range(colend,colstart-1,-1):
            ans.append(matrix[rowend][i])
            c+=1
        rowend-=1

        for i in range(rowend,rowstart-1,-1):
            ans.append(matrix[i][colstart])
            c+=1
            colstart+=1

    return ans

In [62]:
# Defanging an IP address.
def defangIPaddr(address):
  ans = ""
  for i in address:
    if i !=".":
      ans +=i
    else:
      ans +="[.]"
  return ans

In [65]:
# valid Palindrome
def isAlphanumeric(s):
  x = ord(s)
  if 97<=x<=122 or 65<=x<=90 or 48<=x<=57:
    return True
  else:
    return False
def isPalindrome(s):
  s = s.lower()

  i = 0
  j = len(s)-1

  while i <j:
    if not isAlphanumeric(s[i]):
      i+=1
    elif not isAlphanumeric(s[j]):
      j-=1
    elif s[i]==s[j]:
      i+=1
      j-=1
    else:
      return False
  return True

In [66]:
# Reverse String.
def reverseString(s):
  i = 0
  j = len(s)-1

  while i<j:
    s[i],s[j] = s[j],s[i]
    i+=1
    j-=1
  return s

In [69]:
#  Reverse words in a string.
def reversewords(s):
  s = s.strip()
  s = s.split()

  s.reverse()

  return " ".join(s)

In [70]:
# length of last word
def lengthoflastword(s):
  s = s.strip()

  i = -1
  while i >=(-1*n) and s[i]!=" ":
    i -=1
  i+=1
  i*=-1

  return i